<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{{ sitename }}</title>
	<script 
	  type="text/javascript" charset="utf-8"
	  src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'></script>
	<link rel="stylesheet" href="static/style.css" type="text/css" media="screen"  charset="utf-8" />
	<script src="/static/script.js" type="text/javascript" charset="utf-8"></script>
	  
</head>
<body>
  <div id='container'>
    <div id='header'>
      <h1>{{ sitename }}</h1>
    </div>

		<div id="toronto_sentiment" class='sentiment_block'>
			<h2>Toronto</h2>
			<img src='static/{{ TorontoImg }}'>
			<h3>{{ TorontoSentiment }}</h3>
		</div>
		<div id="nyc_sentiment" class='sentiment_block'>
			<h2>NYC</h2>
			<img src='static/{{ NYCImg }}'>
			<h3>{{ NYCSentiment }}</h3>
		</div>
		<div id="oxford_sentiment" class='sentiment_block'>
			<h2>Oxford</h2>
			<img src='static/{{ OxfordImg}}'>
			<h3>{{ OxfordSentiment }}</h3>
		</div>
		<div id="margate_sentiment" class='sentiment_block'>
			<h2>Margate</h2>
			<img src='static/{{ MargateImg }}'>
			<h3>{{ MargateSentiment }}</h3>
		</div>	
		<div id="toronto_sentiment" class='sentiment_block'>
			<h2>London</h2>
			<img src='static/{{ LondonImg }}'>
			<h3>{{ LondonSentiment }}</h3>
		</div>
  </div>
</body>
</html>