<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>{{ sitename }}</title>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<link  href="//fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >

<link rel="stylesheet" href="static/style.css" type="text/css" media="screen"  charset="utf-8" />
<script src="/static/script.js" type="text/javascript" charset="utf-8"></script>
<script type='text/javascript'>
google.load('visualization', '1', {'packages':['annotatedtimeline']});
google.setOnLoadCallback(init);

function init() {
  drawChart();
}

function drawChart() {
  var data = new google.visualization.DataTable();
  data.addColumn('datetime', 'Time');
  data.addColumn('number', 'Bristol Sentiment');
  data.addColumn('number', 'York Sentiment');
  data.addColumn('number', 'Oxford Sentiment');
  data.addColumn('number', 'Margate Sentiment');
  data.addColumn('number', 'London Sentiment');

  data.addRows([ {{ gdata }} ]);
  var settings = { 
    'min': 0, 
    'max':4, 
    'allowRedraw': true,
    'displayZoomButtons':false,
    'displayDateBarSeparator': false,
    'displayLegendDots': false,
    'displayLegendValues': false
  }
  var chart = new google.visualization.AnnotatedTimeLine(
    document.getElementById('aggregate_timeline')
  );
  chart.draw(data, settings)
}

</script> 
</head>
<body>
<div id='container'>
  <div id='header'>
    <h1>{{ sitename }}</h1>
    <h2>A Twitter happiness website for England.</h2>
  </div>

  <h2>So, how are people feeling in:</h2>
  <div id="bristol_sentiment" class='sentiment_block'>
    <h2>Bristol</h2>
    <img src='static/{{ BristolImg }}'>
    <h3>{{ BristolSentiment }}</h3>
  </div>
  <div id="york_sentiment" class='sentiment_block'>
    <h2>York</h2>
    <img src='static/{{ YorkImg }}'>
    <h3>{{ YorkSentiment }}</h3>
  </div>
  <div id="oxford_sentiment" class='sentiment_block'>
    <h2>Oxford</h2>
    <img src='static/{{ OxfordImg}}'>
    <h3>{{ OxfordSentiment }}</h3>
  </div>
  <div id="margate_sentiment" class='sentiment_block'>
    <h2>Margate</h2>
    <img src='static/{{ MargateImg }}'>
    <h3>{{ MargateSentiment }}</h3>
  </div>	
  <div id="london_sentiment" class='sentiment_block'>
    <h2>London</h2>
    <img src='static/{{ LondonImg }}'>
    <h3>{{ LondonSentiment }}</h3>
  </div>

  <div class='clear'></div>

  <div id='aggregate_timeline'></div>

  <h2 id='what'>What's this all about?</h2>

  <div id='about'>
    <p>
    This page uses the <a href='http://twittersentiment.appspot.com/'>Twitter Sentiment</a> API to determine whether tweets from the above five cities are, on average, happy or sad. The scores are between 0 and 4, and are updated every five minutes.
    </p>
    <p>
    This page was made by <a href='http://blog.motraghi.us'>Sebastian Motraghi</a> during the <a href='http://www.opendataday.org/wiki/Oxford,_UK'>Oxford Open Data Hackathon</a> on December 4th, 2010, and has been intermittently updated since. The source code is available on <a href='https://github.com/sebm/twitty-city'>GitHub</a>.
    </p>
    <h4>Shoutouts</h4>
    <p>
    Terri Motraghi made the smiley faces. <a href='https://twitter.com/ametaireau'>Alexis Metaireau</a> and <a href='https://twitter.com/timfernando'>Tim Fernando</a> answered my embarassing Python questions. <a href='https://twitter.com/incuna'>Incuna</a> provided pizza, <a href='http://www.whiteoctober.co.uk'>White October</a> provided the venue, and the Oxford geek community made it all happen.
    </p>

  </div>

</div>
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-11576589-3']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</body>
</html>
